/*************************************Mobile version*************************************/

@media (max-width: 760px) {
    /**************************header**************************/
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 3px #222;
        position: fixed;
        z-index: 10;
    }

    header ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    header li {
        width: calc(100% / 6);
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    header a {
        width: 100%;
        height: 100%;
        display: block;
    }
    header a:hover {
        background-color: #222;
        color: #fff;
    }

    /**************************Visual**************************/
    #visual {
        width: 100%;
        height: 100vh;
        position: relative;
        background: linear-gradient(
            -45deg,
            /* #7f7fd5,
            #86a8e7,
            #93bfe0,
            #b1d1e8,
            #a8edea */
                #ffd89b,
            #19547b
        );

        background-size: 400%, 400%;
        animation: gradient 3.5s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0%, 50%;
        }
        50% {
            background-position: 100%, 50%;
        }
        100% {
            background-position: 0%, 50%;
        }
    }
    /**************************Visual mainlogo**************************/
    .mainlogo {
        width: 100%;
        height: 100vh;
        /* position: relative; */
    }
    /**************************Visual maintxt1(logo)**************************/
    .maintxt1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3.75rem 1.25rem;
        box-sizing: border-box;
        font-size: 1rem;
    }
    .maintxt1 img {
        width: 3.5rem;
    }

    .maintxt1 h2 {
        -webkit-text-stroke: 1.5px #1e2f68;
        color: transparent;
        line-height: 1.3rem;
        padding: 5px 0px;
    }
    .maintxt1 .year {
        color: #fff;
        -webkit-text-stroke: 2px #333;
        color: transparent;
    }
    /**************************Visual mainbox2(circle)**************************/
    .mainbox2 {
        width: 100%;
    }

    /**************************Visual mainbox2 bigcircle**************************/
    .bigcircle {
        width: 500px;
        height: 500px;
        border: 2px solid;
        border-color: #333 #aaa;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        border-radius: 100%;
        opacity: 0.3;
        animation: big 10s ease infinite;

        box-shadow: 0 0 20px #fdeff9, -20px 0 80px #e8cbc0, 20px 0 80px #636fa4,
            inset 0 0 50px #fdeff9, inset 50px 0 80px #e8cbc0,
            inset -50px 0 80px #636fa4, inset 50px 0 300px #e8cbc0,
            inset -50px 0 300px #636fa4;
    }
    @keyframes big {
        0% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
    /**************************Visual loading circle **************************/

    .loading {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 30px;
        height: 530px;
        animation: loading 15s ease infinite;
        /* border: 1px solid red; */
    }

    .loading .circle1 {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;

        box-shadow: 0 0 10px #fff;
    }
    .loading .circle2 {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        margin-top: 470px;

        box-shadow: 0 0 10px #fff;
    }

    @keyframes loading {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    /**************************Visual name**************************/
    #visual .maintxt_name {
        font-size: 1.5rem;
        line-height: 1.2;

        font-family: "Diphylleia", serif;
        font-weight: bolder;
        font-style: italic;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12rem;
        transform: translate3d(0, 0, 0) skewY(0deg);

        animation: txtani 1.8s;
    }

    @keyframes txtani {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 0;
            transform: translate3d(0, -90px, 0) skewY(-10deg);
        }
    }
    #visual .maintxt_name span {
        font-size: 2rem;
    }
    /**************************Visual file**************************/

    #visual .file {
        width: 100%;
        /* height: 220px; */
        /* font-size: 30px; */
        /* border: 1px solid red; */
        position: absolute;
        right: 0px;
        bottom: 12px;
        /* display: flex; */
    }
    #visual .file p {
        width: 100%;
        /* height: 70px; */
        /* line-height: 70px; */
        text-align: center;
        /* letter-spacing: 3px; */
        /* padding: 0px 20px; */
        /* box-sizing: border-box; */
        font-size: 16px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 20px 20px; */
        margin-bottom: 20px;
        /* display: none; */
    }
    #visual hr {
        width: 100%;
        border-width: 2px 0 0 0;
        border-style: dotted;
        border-color: #222;
        /* padding: 0px 20px; */
        /* box-sizing: border-box; */
        margin-bottom: 20px;
        display: none;
    }
    #visual .file div {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
        padding: 0px 125px 0px;
        box-sizing: border-box;
        /* border: 1px solid red; */
    }

    #visual .file .portfolio,
    .design {
        width: 150px;
        height: 40px;
        display: block;
        line-height: 40px;
        text-align: center;
        border: 1px solid #222;
        border-radius: 100%;
        font-size: 16px;
    }
    #visual .file .portfolio {
        /* margin-bottom: 10px; */
    }
    #visual .file .dia {
        width: 30px;
        height: 30px;
        /* border: 1px solid #222; */
        font-size: 10px;
        transform: translateY(-10%);
    }
}

/*************************************Tablet version*************************************/
@media (min-width: 760px) and (max-width: 1200px) {
    /**************************header**************************/
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 3px #222;
        position: fixed;
        z-index: 10;
    }

    header ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    header li {
        width: calc(100% / 6);
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    header a {
        width: 100%;
        height: 100%;
        display: block;
    }
    header a:hover {
        background-color: #222;
        color: #fff;
    }

    /**************************Visual**************************/
    #visual {
        width: 100%;
        height: 100vh;
        position: relative;
        background: linear-gradient(
            -45deg,
            /* #7f7fd5,
            #86a8e7,
            #93bfe0,
            #b1d1e8,
            #a8edea */
                #ffd89b,
            #19547b
        );

        background-size: 400%, 400%;
        animation: gradient 3.5s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0%, 50%;
        }
        50% {
            background-position: 100%, 50%;
        }
        100% {
            background-position: 0%, 50%;
        }
    }
    /**************************Visual mainlogo**************************/
    .mainlogo {
        width: 100%;
        height: 100vh;
        /* position: relative; */
    }
    /**************************Visual maintxt1(logo)**************************/
    .maintxt1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3.75rem 1.25rem;
        box-sizing: border-box;
        font-size: 1.25rem;
    }
    .maintxt1 img {
        width: 5rem;
    }

    .maintxt1 h2 {
        -webkit-text-stroke: 1.5px #1e2f68;
        color: transparent;
        line-height: 1.5rem;
        padding: 5px 0px;
    }
    .maintxt1 .year {
        color: #fff;
        -webkit-text-stroke: 2px #333;
        color: transparent;
    }
    /**************************Visual mainbox2(circle)**************************/
    .mainbox2 {
        width: 100%;
    }

    /**************************Visual mainbox2 bigcircle**************************/
    .bigcircle {
        width: 500px;
        height: 500px;
        border: 2px solid;
        border-color: #333 #aaa;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        border-radius: 100%;
        opacity: 0.3;
        animation: big 10s ease infinite;

        box-shadow: 0 0 20px #fdeff9, -20px 0 80px #e8cbc0, 20px 0 80px #636fa4,
            inset 0 0 50px #fdeff9, inset 50px 0 80px #e8cbc0,
            inset -50px 0 80px #636fa4, inset 50px 0 300px #e8cbc0,
            inset -50px 0 300px #636fa4;
    }
    @keyframes big {
        0% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
    /**************************Visual loading circle **************************/

    .loading {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 25px;
        height: 530px;
        animation: loading 15s ease infinite;
        /* border: 1px solid red; */
    }

    .loading .circle1 {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #fff;

        box-shadow: 0 0 10px #fff;
    }
    .loading .circle2 {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #fff;
        margin-top: 480px;

        box-shadow: 0 0 10px #fff;
    }

    @keyframes loading {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    /**************************Visual name**************************/
    #visual .maintxt_name {
        font-size: 2.5rem;
        line-height: 1.2;
        margin: 90px 120px 0px;
        font-family: "Diphylleia", serif;
        font-weight: bolder;
        font-style: italic;
        transform: translate3d(0, 0, 0) skewY(0deg);

        animation: txtani 1.8s;
    }

    @keyframes txtani {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 0;
            transform: translate3d(0, -90px, 0) skewY(-10deg);
        }
    }
    #visual .maintxt_name span {
        font-size: 2.5rem;
    }
    /**************************Visual file**************************/

    #visual .file {
        width: 300px;
        height: 220px;
        /* font-size: 30px; */
        /* border: 1px solid red; */
        position: absolute;
        right: 0px;
        bottom: 50px;
    }
    #visual .file p {
        width: 300px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        /* letter-spacing: 3px; */
        /* padding: 0px 20px; */
        /* box-sizing: border-box; */
        font-size: 18px;
        /* border: 1px solid red; */
    }
    #visual hr {
        width: 270px;
        border-width: 2px 0 0 0;
        border-style: dotted;
        border-color: #222;
        padding: 0px 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    #visual .file div {
        width: 300px;
        padding: 0px 125px 0px;
        box-sizing: border-box;
        /* border: 1px solid red; */
    }

    #visual .file .portfolio,
    .design {
        width: 150px;
        height: 40px;
        display: block;
        line-height: 40px;
        text-align: center;
        border: 1px solid #222;
        border-radius: 100%;
        font-size: 16px;
    }
    #visual .file .portfolio {
        margin-bottom: 10px;
    }
    #visual .file .dia {
        width: 30px;
        height: 30px;
        /* border: 1px solid #222; */
        font-size: 10px;
        transform: translateY(-10%);
    }
}

/*************************************PC version*************************************/
@media (min-width: 1200px) {
    /**************************header**************************/
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 3px #222;
        position: fixed;
        z-index: 10;
    }

    header ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    header li {
        width: calc(100% / 6);
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    header a {
        width: 100%;
        height: 100%;
        display: block;
    }
    header a:hover {
        background-color: #222;
        color: #fff;
    }

    /**************************Visual**************************/
    #visual {
        width: 100%;
        height: 100vh;
        position: relative;
        background: linear-gradient(
            -45deg,
            /* #7f7fd5,
            #86a8e7,
            #93bfe0,
            #b1d1e8,
            #a8edea */
                #ffd89b,
            #19547b
        );

        background-size: 400%, 400%;
        animation: gradient 3.5s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0%, 50%;
        }
        50% {
            background-position: 100%, 50%;
        }
        100% {
            background-position: 0%, 50%;
        }
    }
    /**************************Visual mainlogo**************************/
    .mainlogo {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    /**************************Visual maintxt1(logo)**************************/
    .maintxt1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 60px 20px;
        box-sizing: border-box;
        font-size: 25px;
    }
    .maintxt1 img {
        width: 100px;
    }

    .maintxt1 h2 {
        -webkit-text-stroke: 1.5px #333;
        color: transparent;
        line-height: 30px;
        padding: 5px 0px;
    }
    .maintxt1 .year {
        color: #fff;
        -webkit-text-stroke: 2px #1e2f68;
        color: transparent;
    }
    /**************************Visual mainbox2(circle)**************************/
    .mainbox2 {
        width: 100%;
    }

    /**************************Visual mainbox2 bigcircle**************************/
    .bigcircle {
        width: 650px;
        height: 650px;
        border: 2px solid;
        border-color: #333 #aaa;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        border-radius: 100%;
        opacity: 0.3;
        animation: big 10s ease infinite;

        box-shadow: 0 0 20px #fdeff9, -20px 0 80px #e8cbc0, 20px 0 80px #636fa4,
            inset 0 0 50px #fdeff9, inset 50px 0 80px #e8cbc0,
            inset -50px 0 80px #636fa4, inset 50px 0 300px #e8cbc0,
            inset -50px 0 300px #636fa4;
    }
    @keyframes big {
        0% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
    /**************************Visual loading circle **************************/

    .loading {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 670px;
        animation: loading 15s ease infinite;
        /* border: 1px solid red; */
    }

    .loading .circle1 {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;

        box-shadow: 0 0 10px #fff;
    }
    .loading .circle2 {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
        margin-top: 630px;

        box-shadow: 0 0 10px #fff;
    }

    @keyframes loading {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    /**************************Visual name**************************/
    #visual .maintxt_name {
        font-size: 60px;
        line-height: 1.2;
        margin: 90px 120px 0px;
        font-family: "Diphylleia", serif;
        font-weight: bolder;
        font-style: italic;
        transform: translate3d(0, 0, 0) skewY(0deg);

        animation: txtani 1.8s;
    }

    @keyframes txtani {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 0;
            transform: translate3d(0, -90px, 0) skewY(-10deg);
        }
    }
    #visual .maintxt_name span {
        font-size: 77px;
    }
    /**************************Visual file**************************/

    #visual .file {
        width: 450px;
        height: 220px;
        /* font-size: 30px; */
        /* border: 1px solid red; */
        position: absolute;
        right: -50px;
        bottom: 50px;
    }
    #visual .file p {
        width: 450px;
        height: 70px;
        line-height: 70px;
        text-align: left;
        letter-spacing: 3px;
        /* padding: 0px 20px;
        box-sizing: border-box; */
        font-size: 20px;
        /* border: 1px solid red; */
    }
    #visual hr {
        width: 340px;
        border-width: 2px 0 0 0;
        border-style: dotted;
        border-color: #222;
        padding: 0px 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    #visual .file div {
        width: 340px;
        padding: 0px 20px 0px;
        box-sizing: border-box;
        /* border: 1px solid red; */
    }

    #visual .file .portfolio,
    .design {
        width: 300px;
        height: 50px;
        display: block;
        line-height: 50px;
        text-align: center;
        border: 1px solid #222;
        border-radius: 100%;
        font-size: 25px;
    }
    #visual .file .portfolio {
        margin-bottom: 10px;
    }
    #visual .file .dia {
        width: 30px;
        height: 30px;
        /* border: 1px solid #222; */
        font-size: 10px;
        transform: translateY(-25%);
    }

    /**************************container**************************/
    /**************************page1**************************/
    /**************************profile**************************/

    .profile {
        width: 100%;
        height: 100%;
        /* background-color: rgba(0, 0, 0, 0.1); */
        display: flex;
        justify-content: center;
        gap: 80px;

        /* background-image: url(../img/profile_line6.png);
        background-repeat: no-repeat; */
        position: relative;
    }

    .blue1 {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 400px;
        top: 100px;
    }
    .blue2 {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 720px;
        top: 400px;
    }
    /*photo*/
    .photo {
        text-align: center;
        margin-right: 70px;
    }
    .photo .me {
        width: 300px;
        height: 300x;
        margin: 200px 0px 100px 0px;

        border-radius: 100%;
        border: 3px solid #93bfe0;
        /* box-sizing: border-box; */
    }
    .resolution {
        width: 500px;
        height: 140px;

        border: 2px solid #93bfe0;
        border-radius: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: bold;

        line-height: 30px;
    }
    /*self*/
    .self {
        width: 500px;
    }

    .name_txt {
        font-size: 25px;
        font-style: italic;
        font-weight: bold;

        margin: 100px 0px 20px 0px;

        width: 400px;
        height: 30px;
        line-height: 30px;
        /* text-align: center;
        border: 3px solid #93bfe0; */
        border-radius: 30px;
        padding: 10px 0px;

        font-weight: bold;
        font-size: 25px;

        margin-bottom: 30px;
    }
    .name_txt span {
        font-size: 20px;
        color: gray;
    }
    /*age, tel, email*/
    .age,
    .tel,
    .email {
        /* font-size: 18px; */
        font-style: italic;
        font-weight: bold;
        line-height: 30px;
    }
    .age span,
    .tel span,
    .email span {
        color: gray;
    }
    .email {
        margin-bottom: 100px;
    }

    /*education*/

    .education_txt {
        width: 200px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 3px solid #93bfe0;
        border-radius: 30px;
        padding: 10px;

        font-weight: bold;
        font-size: 25px;

        margin-bottom: 20px;
    }
    .education span {
        color: gray;
    }
    .education p {
        line-height: 30px;
    }
    /*skill*/
    .skill_txt {
        width: 200px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 3px solid #93bfe0;
        border-radius: 30px;
        padding: 10px;

        font-weight: bold;
        font-size: 25px;

        margin: 60px 0px 20px;
    }
    .skill_progress {
        display: flex;
        gap: 30px;
    }
    .skill img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 3px solid black;
    }

    .skill li {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;
    }
    .skill .bar {
        width: 150px;
        height: 20px;
        border: 3px solid #bbb;
        border-radius: 0px 20px 20px 0px;
        display: inline-block;
    }
    .skill .pro1 {
        display: inline-block;
        width: 50px;
        height: 20px;
        background-color: #aaa;
        border-radius: 0px 20px 20px 0px;
    }
    /*lisence*/
    .lisence_txt {
        width: 200px;
        height: 30px;
        line-height: 30px;

        border: 3px solid #93bfe0;
        border-radius: 30px;
        padding: 10px;

        font-weight: bold;
        font-size: 25px;
        text-align: center;

        margin: 100px 0px 20px 0px;
    }
    .lisence p {
        line-height: 30px;
    }
    .lisence span {
        color: gray;
    }
    .lisence .word {
        margin-bottom: 70px;
    }
    /*career*/
    .career {
        line-height: 30px;
    }
    .career_txt1 {
        width: 200px;
        height: 30px;
        line-height: 30px;

        border: 3px solid #93bfe0;
        border-radius: 30px;
        padding: 10px;

        font-weight: bold;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    .career span {
        color: gray;
    }
    .career_txt2 {
        margin-bottom: 70px;
    }
    /*Interested*/
    .interested {
        width: 400px;
        line-height: 30px;
    }
    .interested_txt {
        width: 200px;
        height: 30px;
        line-height: 30px;

        border: 3px solid #93bfe0;
        border-radius: 30px;
        padding: 10px;

        font-weight: bold;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    .interested_txt1 {
        width: 400px;
        height: 30px;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        /* border: 1px solid #93bfe0; */
        border-bottom: 2px solid #93bfe0;
        margin-bottom: 10px;
    }
    .interested_icon {
        font-size: 25px;
        border-radius: 50%;
    }
    .interested_txt1 p {
        font-size: 14px;
        font-style: italic;
        display: block;
    }
    .interested_txt2 {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .wrap1 {
        width: 35%;
        height: 50%;
        position: absolute;
        left: 0px;
        top: 180px;
    }
    .st0 {
        fill: none;
        stroke: #000000;
        stroke-width: 4;
        stroke-miterlimit: 10;
    }
    .st0 {
        stroke-dasharray: 1143;
        stroke-dashoffset: 1143;
        animation: ani01 1.8s linear 1.3s forwards;
    }
    @keyframes ani01 {
        0% {
            stroke-dashoffset: 1143;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    /**************************page2**************************/
    .page2 {
        width: 100%;
        height: 100vh;
        background-image: url(../img/page2_blueline.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        margin: 250px auto 0px;
    }
    .ddd {
        width: 1200px;
        height: 100%;
        position: relative;
        margin: 0px auto;
    }
    .logo {
        width: 100px;
        height: 250px;
        padding: 150px 0px;
    }
    .bg1 {
        width: 50px;
        height: 50px;
        background-color: #1e2f68;
        border-radius: 100%;
        margin-bottom: 30px;
    }
    .bg2 {
        width: 50px;
        height: 50px;
        background-color: #c8d8e7;
        border-radius: 100%;
        margin-bottom: 30px;
    }
    .bg3 {
        width: 50px;
        height: 50px;
        background-color: #1f2247;
        border-radius: 100%;
    }
    /*********main_logo***********/
    .page2 img {
        width: 500px;
        position: absolute;
        left: 200px;
        top: 150px;
    }
    /*********logo_txt***********/
    .logo_txt h3 {
        margin-bottom: 30px;
    }
    .logo_txt {
        text-align: left;

        padding: 0px 150px;
        line-height: 25px;

        position: absolute;
        right: -70px;
    }
    /**********po ************/
    .po {
        width: 70%;
        background-color: #fffbd2;
        border-radius: 0px 100px 100px 0px;
        padding: 50px;

        font-size: 55px;
        text-align: center;
    }
    /**************************page3**************************/
    .page3 {
        width: 100%;
        height: 100vh;
        background-image: url(../img/page3_pc2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        /* margin: 250px auto 0px; */
    }

    /**********interduce_portfoilo**********/
    .interduce_portfoilo li:nth-child(1) {
        width: 100%;
    }
    .interduce_portfoilo img {
        width: 100%;
    }
    .interduce_portfoilo {
        display: flex;
        justify-content: center;
        gap: 200px;

        padding: 200px;

        /* margin-top: 200px; */
    }
    /**********site1**********/

    .site1_name {
        font-size: 40px;
        font-weight: bold;

        margin: 50px 0px 50px 0px;
    }
    /********program*********/
    .program p {
        width: 150px;
        height: 30px;
        line-height: 30px;
        border: 3px solid#1e2f68;
        border-radius: 30px;

        text-align: center;
        font-size: 18px;
    }
    .program img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 3px solid black;
        margin: 20px 0px 50px 0px;
    }
    /**********contribution**********/
    .contribution {
        margin: 20px 0px 50px 0px;
    }
    .contribution_txt1 {
        width: 150px;
        height: 30px;
        line-height: 30px;
        border: 3px solid#1e2f68;
        border-radius: 30px;

        text-align: center;
        font-size: 18px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .contribution span {
        color: gray;
    }
    /**********announce*********/
    .an_txt1 {
        width: 150px;
        height: 30px;
        line-height: 30px;
        border: 3px solid#1e2f68;
        border-radius: 30px;

        text-align: center;
        font-size: 18px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    /**********.page4*********/
    .page4 {
        width: 100%;
        height: 100vh;
        background-image: url(../img/page3_pc2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        padding: 0px;
        /* margin: 250px auto 0px; */
    }
    .page4 h2 {
        width: 70%;
        background-color: #fffbd2;
        border-radius: 0px 100px 100px 0px;
        padding: 50px;

        font-size: 55px;
        text-align: center;
    }

    /**********de**********/
    .de {
        max-width: 70%;
        background-color: #fffbd2;
        border-radius: 100px 0px 0px 100px;
        padding: 50px;

        font-size: 55px;
        text-align: center;

        margin-top: 150px;

        transform: translateX(700px);
    }
    /*********page5**********/
    .page5 {
        width: 100%;
        height: 100vh;
    }
    /********new_de**********/
    .new_de {
        width: 100%;
        height: 1000px;
        background-color: #fbfbfb;
        /* padding: 100px; */

        display: flex;
        justify-content: space-between;
    }
    .new_de ul {
        width: 50%;
    }

    .new_de_txt {
        font-size: 45px;
        margin: 100px 0px 500px 0px;
    }
    /********period*********/
    .period {
        width: 30%;
        height: 100px;
        /* margin-top: 700px; */
        line-height: 30px;
        /* text-align: center; */
        padding: 50px 0px 0px 50px;
    }
    .period ul {
        width: 1200px;
    }
    .underbar {
        margin-bottom: 30px;
    }
    .period p {
        font-size: 20px;
    }
    .new_de img {
        width: 100%;
        height: 1000px;
    }
    /************ill*************/
    .ill {
        position: relative;
    }
    .ill .phone {
        position: absolute;
        top: 10px;
        left: 200px;
    }
    .phone img {
        width: 800px;
        height: 800px;
    }
    .ill3 {
        display: flex;
        cursor: pointer;
    }
    .ill3 img {
        width: 300px;
        height: 300px;
        transform: translate(170px, -300px);
    }
    /***********page6**********/
    .page6 {
        width: 100%;
        height: 100vh;

        margin: 300px auto 0px;
        background-image: url(../img/page6_last.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        position: relative;
    }
    .end {
        width: 100%;
    }
    .page6 .end p {
        /* width: 1200px; */
        /* height: 100px; */
        font-size: 50px;
        font-weight: bold;

        position: absolute;
        top: 400px;
        left: 400px;
    }
    .endmessage {
        width: 200px;
        height: 30px;
        position: absolute;
        bottom: 400px;
        right: 350px;

        line-height: 30px;
        font-weight: bold;

        text-align: center;
        cursor: pointer;
    }
    .endmessage > div {
        border: 3px solid #222;
        border-radius: 30px;
        margin-bottom: 10px;
    }
}
